:root{
    --color-primary: #ffa500;
    --color-dark: #000;
    --color-white: #fff;
    --color-cyan: #78c7d2;
}

/* .navbar-dark.mainNavbar .navbar-toggler {
    color: var(--color-white);
} */

.navbar-dark.mainNavbar .navbar-brand {
    /* color: rgba(0,0,0,.9); */
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navbar-dark.mainNavbar .nav-item{
    margin-left: 7px;
}

.navbar-dark.mainNavbar .navbar-nav .nav-link {
    color: var(--color-white);
    height: 56px;
    line-height: 40px;
    /* padding: 0 15px; */
    position: relative;
}

/* .mainNavbar .dropdown-menu {
    right: 0;
    left: auto;
    left: -100%;
    background-color: var(--color-dark);
}

.mainNavbar .dropdown-menu a.dropdown-item {
    color: var(--color-white);
}

.mainNavbar .dropdown-menu .dropdown-item:focus, 
.mainNavbar .dropdown-menu .dropdown-item:hover {
    color: var(--color-dark);
    text-decoration: none;
    background-color: var(--color-primary);
} */

.navbar-dark.mainNavbar .nav-link::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--color-cyan);
    border-radius: 5px;
    transform: scaleX(0);
    transition: all 0.5s ease-in-out;
    bottom: 5px;
    left: 0;
}

.mainNavbar .nav-item.active .nav-link::before,
.mainNavbar .nav-link:hover::before,
.mainNavbar .nav-link:focus::before {
    transform: scaleX(1);
}

.navbar-dark.mainNavbar .navbar-nav a:hover,
.navbar-dark.mainNavbar .navbar-nav a:focus,
.navbar-dark.mainNavbar .navbar-nav a:active{
    color: var(--color-cyan);
}

/*------------------------------------------------------ Navabr CSS End --------------------------------------------------------------- */

/*--------------------------------------------------------- Slider Section CSS  ----------------------------------------------------- */

#mainProSlider .carousel-item,
#mainProSlider .carousel-item img{
    height: 400px;
    object-fit: cover;
}

#mainProSlider .carousel-caption{
    bottom: 25%;
}

/*-------------------------------------------------- Slider Section CSS End ----------------------------------------------------- */

/*-------------------------------------------------- heroImgParallax CSS ----------------------------------------------------- */

.parallax{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.heroImgParallax{
    background-image:linear-gradient( rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../images/lights.jpg);
}

/*-------------------------------------------------- heroImgParallax CSS End ----------------------------------------------------- */

/*-------------------------------------------------- photoGallary CSS ----------------------------------------------------- */

/* .photoGallary{
    height: 200px;
    object-fit: cover;
} */

.photoGallary .photoGall{
    display: flex;
    flex-wrap: wrap;
}

.photoGallary .gallary {
    height: 200px;
    margin-bottom: 10px;
    flex-grow: 1;
    margin-right: 5px;
}

.photoGallary .gallary a{
    display: block;
    height: 100%;
}

.photoGallary .gallary a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photoGallary .gallary a img:hover{
    transform: translateY(-10px);
}

/*-------------------------------------------------- photoGallary CSS End ----------------------------------------------------- */

/*-------------------------------------------------- cardSection CSS  ----------------------------------------------------- */

.cardSection .card:hover {
    transform: translateY(-10px);
    box-shadow: 10px 10px 20px rgb(0, 0, 0, 0.7);
}

/*-------------------------------------------------- cardSection CSS end ----------------------------------------------------- */


/*-------------------------------------------------- servicesCard CSS ----------------------------------------------------- */

.servicesCard .card-body li{
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicesCard .card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 0px 10px 10px rgb(0, 0, 0, 0.7) ;
    /* box-shadow: 0px 0px 10px 10px rgb(0, 0, 0, 0.5) inset; */
}

.servicesCard .card-body li:hover{
    transform: translateY(-10px);
}

/*-------------------------------------------------- servicesCard CSS end ----------------------------------------------------- */


/*-------------------------------------------------- feedBackSlider section CSS ----------------------------------------------------- */

#feedBackCarousel .owl-nav button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#feedBackCarousel .owl-nav button.owl-prev{
    left: -50px;
}

#feedBackCarousel .owl-nav button.owl-next{
    right: -50px;
}

#feedBackCarousel.owl-carousel .owl-item img {
    cursor: pointer;
    /* display: block;
    width: 70%;
    margin: 0 auto;
    object-fit: cover; */
}

/* .feedBack{
    height: 60px;
    text-overflow: ellipsis;
    overflow:hidden;
    text-wrap: nowrap;
} */

#feedBackCarousel.owl-carousel .owl-item img:hover{
    transform: scale(0.5, 0.5);
}

/*-------------------------------------------------- feedBackSlider section CSS end ----------------------------------------------------- */

/*-------------------------------------------------- videoParallax CSS ----------------------------------------------------- */

.videoParallax{
    background-image:linear-gradient( rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../images/media.jpg);
}

/*-------------------------------------------------- videoParallax CSS End ----------------------------------------------------- */



/*-------------------------------------------------- Footer CSS ----------------------------------------------------- */

.footer{
    background-color: var(--color-dark);
}

/*-------------------------------------------------- Footer CSS End ----------------------------------------------------- */

@media all and (max-width : 991px){
    .navbar-dark.bg-dark.mainNavbar .nav-link {
        color: var(--color-white);
        height: 50px;
        line-height: 34px;
        padding: 8px;
    }
    
    .form-group.homePageForm {
        flex-basis: 100%;
    }

    .form-group.homePageForm .homePageFormControl,
    .homeform .btn{
        width: 100%;
        margin-bottom: 10px;
    }

    #feedBackCarousel.owl-carousel .owl-item img {
        display: block;
        width: 70%;
        margin: 0 auto;
        object-fit: cover;
    }
}