:root{
    --color-primary: #ffa500;
    --color-dark: #000;
    --color-white: #fff;
}

.navbar-dark.mainNavbar .navbar-toggler {
    color: var(--color-white);
}

.navbar-dark.mainNavbar .navbar-brand {
    color: rgba(0,0,0,.9);
    padding: 15px;
}

.navbar-dark.bg-dark.mainNavbar .nav-link {
    color: var(--color-white);
    height: 70px;
    line-height: 54px;
    /* padding: 0 15px; */
}

.navbar-dark.mainNavbar .navbar-nav .nav-link:hover,
.navbar-dark.mainNavbar .navbar-nav .nav-link:focus {
    background-color: orange;
}

.mainNavbar .dropdown-menu {
    right: 0;
    left: auto;
    /* left: -100%; */
    background-color: var(--color-dark);
}

.mainNavbar .dropdown-menu a.dropdown-item{
    color: var(--color-white);
}

.mainNavbar .dropdown-menu .dropdown-item:focus, 
.mainNavbar .dropdown-menu .dropdown-item:hover {
    color: var(--color-dark);
    text-decoration: none;
    background-color: var(--color-primary);
}

/*------------------------------------------------------ Navabr CSS End --------------------------------------------------------------- */

/*--------------------------------------------------------- Slider Section CSS  ----------------------------------------------------- */

#mainProSlider .carousel-item,
#mainProSlider .carousel-item img{
    height: 400px;
    object-fit: cover;
}

#mainProSlider .carousel-caption{
    bottom: 25%;
}

/*-------------------------------------------------- Slider Section CSS End ----------------------------------------------------- */

/*-------------------------------------------------- heroImgParallax CSS ----------------------------------------------------- */

.parallax{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.heroImgParallax{
    background-image:linear-gradient( rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../images/lights.jpg);
}

/*-------------------------------------------------- heroImgParallax CSS End ----------------------------------------------------- */

/*-------------------------------------------------- videoParallax CSS ----------------------------------------------------- */

.videoParallax{
    background-image:linear-gradient( rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../images/media.jpg);
}

/*-------------------------------------------------- videoParallax CSS End ----------------------------------------------------- */

/*-------------------------------------------------- Footer CSS ----------------------------------------------------- */

.footer{
    background-color: var(--color-dark);
}

/*-------------------------------------------------- Footer CSS End ----------------------------------------------------- */

@media all and (max-width : 991px){
    .navbar-dark.bg-dark.mainNavbar .nav-link {
        color: var(--color-white);
        height: 50px;
        line-height: 34px;
        padding: 8px;
    }
    
    .form-group.homePageForm {
        flex-basis: 100%;
    }

    .form-group.homePageForm .homePageFormControl,
    .homeform .btn{
        width: 100%;
        margin-bottom: 10px;
    }
}